html,
body {
  height: 100%;
  width: 100%;
}

.page {
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
}

#list {
  display: block;
}

#edit {
  display: none;
}

#add {
  display: none;
}

h1 {
  text-align: center;
}

button {
  border: none;
  background-color: white;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding: 14px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0px;
  
}

/* button:hover {
  background-color: ;
  
  } */
  
.edit {
  background: url(icons/edit.svg) no-repeat; 
}

.delete {
  background: url(icons/delete.svg) no-repeat; 
}

.add-favorites {
  background: url(icons/star.border.svg) no-repeat;
}

.favorites {
  background: url(icons/star.svg) no-repeat;
}

.add-button {
  background: url(icons/add.svg) no-repeat;
}